@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-vermelho {
  background-color: red;
  border-radius: 0%;
  box-shadow: 5px 10px 5px 10px green;
}

.bg-azul {
  background-color: blue;
  border-radius: 100%;
  box-shadow: 5px 10px 5px 10px #000000;
}